@model IEnumerable<StudentClass.Application.ViewModels.StudentViewModel.StudentWithClass>
@{
    ViewData["Title"] = "Student List";
    Layout = "_layout";
}
<a asp-controller="Student" asp-action="Add"><span class="btn btn-sec mb-2">Create</span></a>
<table id="tableStudent" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th class="w-25">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tableStudent").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "paging": true,
                "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "ajax": {
                    "url": "/Student/GetData/",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "class", "name": "Class", "autoWidth": true,
                         "render": function (data, type, row) {
                                 let result = '';
                                 data.forEach((item) => {
                                     result += `<a href="/Class/Update/${item.id}">${item.name};</a>`;
                                 });
                                 return result
                          }
                    },
                    {
                        "data":"id",
                        "render": function (data, row) 
                        {
                            return `<a href='/Student/Detail/${data}' class='btn btn-sec' >Detail</a>` +
                                ` <a href='/Student/Edit/${data}' class='btn btn-sec' >Edit</a>`+
                                ` <a href='/Student/Delete/${data}' class='btn btn-danger-cus' >Delete</a>`;
                        },
                         
                    }
                ]
                
            });
        });
    </script>
}