@model StudentClass.Application.ViewModels.LoginViewModel
@{
    var alertType = "";
    if (TempData["msg"] != null)
    {
        alertType = TempData["msg"]?.ToString()?.Split("!")[0];
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentClass.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="bg-account">
    <div class="bt-login">
        <div>
            @if (TempData["msg"] != null)
            {
                <div class="alert alert-@alertType">@TempData["msg"]</div>
            }
        </div>
        <div class="vh-100 d-flex justify-content-center align-items-center bg-login">
            <div class="box-login">
                <div class="card-body p-5 text-center">

                    <form asp-action="Login" asp-controller="Account" method="post" id="form-login">

                        <h1 class="h2 mb-3 fw-normal">Please sign in</h1>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-floating mb-2">
                            <input asp-for="UserName" class="form-control" id="floatingInput" name="UserName" placeholder="name@example.com">
                            <label for="floatingInput">UserName</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-2 ">
                            <input asp-for="Password" type="password" name="Password" class="form-control inputPassword" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>

                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" id="show-password"> Show Password
                            </label>
                        </div>
                        <div class="text-center mt-3 mb-3">
                            <span>Don't have an account?</span>
                             <a asp-action="SignUp">Sign Up</a>
                        </div>

                        <button class="w-100 btn btn-lg btn-sec" type="submit" id="btn-Login" data-bs-toggle="modal" data-bs-target="#myModal">Sign in</button>
                    </form>
                    <hr />
                    @*<a href="signin-google"><button class="btn w-100" id="btnGoogle"><i class="fa-brands fa-google"></i>   Sign In With Google</button></a>
                    <button class="btn w-100" id="btnFacebook"><i class="fa-brands fa-facebook"></i>   Sign In With Facebook</button>*@
                    <form id="external-account"  asp-controller="Account" asp-action="ExternalLogin" method="post" class="form-horizontal">
                        <div>
                            <p> 
                                <button type="submit" class="btn w-100" id="btnGoogle" name="provider" value="Google"><i class="fa-brands fa-google"></i>   Sign In With Google</button>
                                <button type="submit" class="btn w-100" id="btnFacebook" name="provider" value="Facebook"><i class="fa-brands fa-facebook"></i>   Sign In With Facebook</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog d-flex justify-content-center align-content-center">
            <div><img src="~/image/load.gif" width="50px;" /></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</body>
</html>


