@model StudentClass.ViewModels.ListClassViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "_layout";
}
<div class="container ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-action="Index" asp-controller="Home">
                    <i class="fa-solid fa-house"></i>
                    <span class="visually-hidden">Home</span>
        </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Class" asp-action="Index">Class List</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Detail
            </li>
        </ol>
    </nav>
</div>
<div class="w-50 box">
    <h2>Detail</h2>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.ClassName</dd>

        

        <dt class="col-sm-3">Class</dt>
        <dd class="col-sm-9">
            @foreach (var item in Model.Students)
            {
                <span>@item.Name</span>


            }
        </dd>

    </dl>
</div>